* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
    color: #111212;
	text-rendering: optimizeLegibility;
    background-color: #fff;
}

.logo1 {
    margin: 20px 0 20px 120px;
}

li {
	display: inline-block;
}

h4 {
    position: absolute;
	top: 43px;
    
	font-weight: bold;
	font-size: 110%;
    color: #333333;
	margin-left: 25px;
}

.right {
	margin-top: 35px;
	margin-right: 50px;
	float: right;
	font-size: 0.7em;
}

#dreapta {
	margin-right: 123px;
}

.p1 {
	color: #7084a9;
	font-weight: bold;
	font-size: 1.4em;
}


/* section background */

.background {
	background-image: url("../images/full-image.jpg");
	background-size: cover;
	background-position: center;
	height: 630px;
}

.title {
	font-weight: 300;
}

.background h1 {
	margin-top: 0px;
	text-align: center;
	padding-top: 200px;
	color: #fff;
}

.background p {
	text-align: center;
	font-size: 120%;
	font-weight: 400;
	color: #fff;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: #fff;
	height: 53px;
	width: 146px;
	font-weight: 300;
	font-size: 70%;
	margin-top: 50px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.prev {
	margin-left: 102px;
}


/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	margin-right: 102px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
	color: #ffffff;
	font-size: 30px;
	padding: 4px 12px;
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}


/* The dots/bullets/indicators */

.fa-circle {
	margin-top: 80px;
	font-size: 80%;
	color: #fff;
}

.active,
.dot:hover {
	background-color: #727272;
}


/* PROJECT SECTION */

.project {
	height: 1021px;
}

.our {
	text-align: center;
	margin-top: 89px;
	color: #7084a9;
}

.sort {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.sort p {
	font-weight: bold;
	margin-top: 50px;
	margin: 0 auto;
	margin-right: 0;
}

.dropbtn {
	background-color: #eff0f2;
	color: #838888;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	margin: 0 auto;
	margin-left: 30px;
	width: 250px;
	text-align: left;
}

.fa-angle-down {
	color: black;
	position: absolute;
	margin-left: 100px;
}


/* gallery */

.row {
	margin-left: 120px;
	margin-right: 120px;
}



.questions {
	padding: 0 120px 120px;
	background-color: #c1cada;
	height: auto;
}

.got {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 40px;
}

.margin {
	margin-left: 120px;
	margin-right: 120px;
}

.button {
	border-radius: 8px;
	border: 2px solid #555555;
    background-color: #677ca3;
}

.para2 {
	color: #677ca3;
	font-size: 70%;
}


/* footer */

footer {
	height: auto;
	background-color: #111212;
}

footer li {
	color: #fff;
	margin-top: 20px;
}

.red {
	color: #ab596f;
	font-size: 90%;
}

.blue {
	color: #617599;
	font-size: 90%;
}

.logo-footer p {
	text-align: center;
	position: relative;
	bottom: 75px;
}

.logo-footer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 75px;
	margin-top: 30px;
	margin-bottom: 10px;
}


@media screen and (max-width: 1280px) {
	.questions {
		padding: 0 24px;
	}
}